.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/raw/
data/interim/
data/processed/
outputs/

.DS_Store
.env

/docs/registros_locais/
/scripts/
/tests/
/pytest.ini
/.pytest_cache/
/.pytest_tmp_etapa6/
